* {
	margin: 0;
	padding: 0;
	font-family: cursive;
	text-align: center;
}

html, body{
	height: 100%;
}

.box{
	height: 100%;
}

.sub-box{
	height: 100%;
}

li {
	list-style: none;
	text-decoration: none;
	display: d-flex;
	justify-content: center;
	padding: 5px;
	

}

li a {
	color: white;
	
}

button a {
	color: white;
	
}

